
L02/code/pos_task_0.txt
L02/code/pos_task_1.txt
L02/code/pos_task_2.txt
L02/code/sop_task_0.txt
L02/code/sop_task_1.txt
L02/code/sop_task_2.txt
L02/code/L02_Example.exe
*.exe
L06/logisim/task1.circ
L06/logisim/task2.circ
L07/code/mealy_machine_task2.c
L07/code/moore_machine_task1.c
L06/logisim/mealy_machine_v2.circ
L10/code/task1_example.c
L10/code/task2_example.c
L10/code/state_machine.h
L10/code/state_machine.c
L07/code/mealy_machine_task2_v2.c
L07/code/moore_machine_task1_v2.c

/L11/Embedded application (STM32)/Serial_Port_Example/Debug
L08/code/L08_Example_01.c
L08/code/L08_Example_02.c
L08/code/L08_Example_03.c
